aio-pika==9.4.1
aiormq==6.8.0 ; python_version >= '3.8' and python_version < '4.0'
attrs==23.2.0 ; python_version >= '3.7'
idna==3.7 ; python_version >= '3.5'
jsonschema==4.21.1
jsonschema-specifications==2023.12.1 ; python_version >= '3.8'
multidict==6.0.5 ; python_version >= '3.7'
pamqp==3.3.0 ; python_version >= '3.7'
referencing==0.34.0 ; python_version >= '3.8'
rpds-py==0.18.0 ; python_version >= '3.8'
yarl==1.9.4 ; python_version >= '3.7'
